* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Manrope";
  font-weight: 800;
  color: white;
}

.logo {
  text-shadow: 
  /* WHITE GLOW */ rgba(255, 255, 255, 0.9) 0px 0px 4px,
    /* BLACK OUTLINE */ -1px 0px 1px black, 0px -1px 1px rgb(53, 30, 40),
    -1px -1px 1px black, -1px -1px 1px rgb(53, 30, 40), 0px -1px 1px black,
    -1px 0px 1px rgb(53, 30, 40), 1px 0px 1px black,
    0px -1px 1px rgb(53, 30, 40), 1px 1px 1px black,
    1px -1px 1px rgb(53, 30, 40), /* '3D' BACKING */ 1px 0px 1px black,
    0px 1px 1px rgb(53, 30, 40), 2px 1px 1px black, 1px 2px 1px rgb(53, 30, 40),
    3px 2px 1px black, 2px 3px 1px rgb(53, 30, 40), 4px 3px 1px black,
    3px 4px 1px rgb(53, 30, 40), 5px 4px 1px black, 4px 5px 1px rgb(53, 30, 40),
    6px 5px 1px black, 5px 6px 1px rgb(53, 30, 40), 7px 6px 1px black;
  padding-bottom: 10px;
}

.front-page-content {
  position: absolute;
  bottom: 5%;
}

#header-container {
  padding: 3% 15%;
  height: 75vh;
  text-align: left;
  background-color: grey;
}

footer {
  text-align: center;
}
