* {
    font-family: 'Inter', sans-serif;
}

#grid {
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: #F2EFE9;
}

#landing {
    height: 80vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#landing-container {
    justify-content: center;
}

#projects {
    height: 95vh;
    margin-top: 2rem;
    background-image: url(./images/cruise-ships.png);
    background-size: cover;
    background-position: left;

}

#projects-content {
    height: 100%;
    background: linear-gradient(rgba(37,38,39,1), rgba(37,38,39,0.15));
}

#contact {
    height: 100vh;
    margin-top: 2rem;
}

#contact-content {

}


body {
    margin: 0;
    background-color: #252627;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #F2EFE9;
    line-height: 1rem;
}

.strapline {
    font-family: 'Inter';
    color: #F2EFE9;
    line-height: 1rem;
}

h2 {
    font-family: 'Inter', sans-serif;
    line-height: 1rem;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1rem;
}

#project-text {
    margin: 1rem 2rem;
    text-align: justify;
    text-align-last: center;
}